.footer {
	width:55vh;
	height:14vh;
	position:fixed;
	z-index:8;
	bottom:15.5vh;
	top:84vh;
	margin:0 auto;
}

.list__list-item--footer {
	text-align:center;
	width:55vh;
	height:12vh;
	position:fixed;
	z-index:15;
	bottom:13vh;
	top:91vh;
	margin:0 auto;
}

.footer__element--playing {
	line-height:0vh;
	color:$color5;
	font-size:1.6vh;
	padding:0 0 1vh 0;
	margin-right:6vh;
}

.footer__element--name {
	color:$color4;
	font-size: 3.45vh;
   	font-weight: 200;
   	margin-right:6vh;
   	padding:0 0 1vh 0;
}

.footer__element--hidden {
	z-index: 12;
	display:none;
}

.open .footer__element--hidden {
	display: block;
}



	

