
::-webkit-scrollbar
{
	width:1px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0);
}

hr{
	max-width:47vh;
	height:1px;
	margin:0 auto;
	background-color:$color6;;
    border: 0 none;
}