@keyframes come-in {
  /* line 2, ../scss/base/_mixins.scss */
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leave {
  /* line 6, ../scss/base/_mixins.scss */
  to {
    transform: translateX(-150);
    opacity: 0;
  }
}

/* line 3, ../scss/base/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/base/_base.scss */
section {
  text-align: center;
  background: #eee;
  padding: 12vw 10%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}
/* line 9, ../scss/base/_base.scss */
section p {
  color: black !important;
  font-weight: 100;
}
/* line 13, ../scss/base/_base.scss */
section.one {
  background-color: #f7f7f7;
}
/* line 16, ../scss/base/_base.scss */
section.two {
  background-color: #f7f7f7;
}
/* line 19, ../scss/base/_base.scss */
section.three {
  background-color: #ffc436;
}
/* line 22, ../scss/base/_base.scss */
section.four {
  background-color: #ffb62f;
}
/* line 25, ../scss/base/_base.scss */
section.five {
  background-color: #ffa928;
}
/* line 28, ../scss/base/_base.scss */
section.six {
  background-color: #fe9a24;
}
/* line 31, ../scss/base/_base.scss */
section.seven {
  background-color: #fb8b29;
}
/* line 34, ../scss/base/_base.scss */
section.eight {
  background-color: #f77c2f;
}
/* line 37, ../scss/base/_base.scss */
section.nine {
  background-color: #f7f7f7;
}
/* line 40, ../scss/base/_base.scss */
section.ten {
  background-color: #f7f7f7;
}

/* line 45, ../scss/base/_base.scss */
.item {
  width: 70%;
  position: relative;
  margin: 0 auto;
  opacity: 0;
}
/* line 50, ../scss/base/_base.scss */
.item:nth-child(even) {
  margin-right: 0;
}

/* line 55, ../scss/base/_base.scss */
.item__title--heading {
  position: relative;
  font-family: 'Fjalla One', sans-serif, monospace;
  font-size: 9vh;
  color: black !important;
  font-weight: 100;
  line-height: -10;
}

/* line 64, ../scss/base/_base.scss */
.item__title--subheading {
  padding-bottom: 4vh;
  border-bottom: solid 10px #ffd13d;
  position: relative;
  color: #d7b94c;
  font-family: 'Fjalla One', sans-serif, monospace;
  font-size: 7vh;
  color: black !important;
  font-weight: 100;
}

/* line 76, ../scss/base/_base.scss */
.item__title--paragraph {
  position: relative;
  color: #d7b94c;
  font-family: 'Lato', sans-serif;
  font-size: 3.5vh;
  color: black !important;
  font-weight: 400;
  line-height: 1.7;
  width: 100%;
}

/* line 87, ../scss/base/_base.scss */
.item__title--element {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2vw;
  background: #f7f7f7;
  width: 100%;
  border-left: .08em solid transparent;
}

/* line 97, ../scss/base/_base.scss */
.item__button {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
}
/* line 110, ../scss/base/_base.scss */
.item__button:hover {
  opacity: .5;
}

/* line 115, ../scss/base/_base.scss */
.item__button--arrow {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

/* line 125, ../scss/base/_base.scss */
.item__button--text {
  position: relative;
  right: 50%;
}

/* line 130, ../scss/base/_base.scss */
.paragraph__big {
  text-transform: uppercase;
  font-size: 3.2vh;
  font-weight: 800;
}

/* line 136, ../scss/base/_base.scss */
.come-in {
  transform: translateX(-150px);
  animation: come-in 0.5s cubic-bezier(0, -0.01, 0, 0.99) forwards;
}

/* line 140, ../scss/base/_base.scss */
.come-in:nth-child(odd) {
  animation-delay: .1s;
  animation-duration: .75s;
}

/* line 144, ../scss/base/_base.scss */
.leave {
  transform: translateX(150px);
  animation: leave 0.5s cubic-bezier(0, -0.01, 0, 0.99) forwards;
}

/* line 148, ../scss/base/_base.scss */
.leave:nth-child(odd) {
  animation-delay: .1s;
  animation-duration: .75s;
}

/* line 153, ../scss/base/_base.scss */
.already-visible {
  transform: translateY(0);
  animation: none;
  opacity: 1;
}
