html{
	background:$background;
	height:100%;
}

body{
	font-family:'Andika', sans-serif;
	color:$color4;
	margin: 0;
}

#mobilescreen{
	bottom:0;
	width:55vh;
	height:100vh;
	background:$color2;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	border-radius:5vh;
	box-shadow: 0px 3vh 3vh 0px rgba(0,0,0,0.6);
}

#accordion {
	margin:0 auto;
	position:relative;
	overflow: auto;
	height:73%;
	transition: 0.2s; 
}

.accordion__list {
	padding-top:1vh;
}

.list__list-item {
	padding:3vh;
	
}

.list-item__element--upper {
	font-size: 3.45vh;
   	font-weight: 200;
  	color: $color4;
   	cursor: pointer;
   	display: block;
   	position: relative;
   	transition: all (0.4s ease);
}

.element__name--station {
	font-size: 3.25vh;
	
}

.element__name--number {
	float:right;
	font-weight:600;
	
}

.list-item__sublist {
	display: none;
}

.sublist__list-item {
	display: inline-block;
	z-index:2;
	overflow:auto;
}

.sublist__list-item--img {
    margin: 0 auto;
    transition: all 0.25 ease;
    margin-left:3vh;
    height:5vh;
	width:5vh;
	display:block;
	cursor:pointer;
}

.sublist__list-item--img-small{
	padding-bottom:9vh;
}

.sublist__list-item--circle{
	width:23vh;
	height:23vh;
	border-radius: 50%;
  	border:2px solid $color4;
  	display:block;
}

.list-item__element--down{
	font-size: 3.45vh;
   	font-weight: 200;
  	color: $color4;
   	cursor: pointer;
   	display: block;
   	position: relative;
   	transition: all (0.4s ease);
	
}

.element__name--hidden {
	z-index: 12;
	display:none;
	color:$color4;
}

.open .list-item__element--down .element__name--station { 
	display:block; 
}

.open .list-item__element--upper .element__name--station { 
	display:none;  
}


.open .sublist__list-item--img { 
	margin-left:3vh; 
}

.open .element__name--hidden {
	display: block;
}


