section {
  text-align: center;
  background: #eee;
  padding: 12vw 10%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  p {
    color: rgba(0,0,0,1) !important;
    font-weight: 100;
  }
  &.one {
    background-color: #f7f7f7;
  }
  &.two {
    background-color: #f7f7f7;
  }
  &.three {
    background-color: #ffc436;
  }
  &.four {
    background-color: #ffb62f;
  }
  &.five {
    background-color: #ffa928;
  }
  &.six {
    background-color:#fe9a24;
  }
  &.seven {
    background-color:#fb8b29;
  }
  &.eight {
    background-color: #f77c2f;
  }
  &.nine {
    background-color: #f7f7f7;
  }
  &.ten {
    background-color: #f7f7f7;
  }
}

.item {
  width: 70%;
  position: relative;
  margin: 0 auto;
  opacity: 0;
  &:nth-child(even) {
    margin-right: 0;
  }
}

.item__title--heading{
  position: relative;
  font-family:'Fjalla One', sans-serif, monospace;
  font-size: 9vh;
  color: rgba(0,0,0,1) !important;
  font-weight: 100;
  line-height: -10;
}

.item__title--subheading{
  padding-bottom: 2vh;
  border-bottom: solid 10px #ffd13d;
  position: relative;
  color: #d7b94c;
  font-family:'Fjalla One', sans-serif, monospace;
  font-size: 6vh;
  color: rgba(0,0,0,1) !important;
  font-weight: 100;

}

.item__title--paragraph{
  position: absolute;
  color: #d7b94c;
  font-family:'Lato', sans-serif;
  font-size: 3.5vh;
  color: rgba(0,0,0,1) !important;
  font-weight: 400;
  line-height: 1.7;
  width: 100%;
}

.item__title--element{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2vw;
  background: #f7f7f7;
  width: 100%;
  border-left: .08em solid transparent;
}

.item__button{
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
  &:hover{
    opacity: .5;
  }
}

.item__button--arrow{
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
 }

 .item__button--text{
  position: relative;
  right:50%;
  margin-left: 5vh;
 }

 .paragraph__big{
  text-transform: uppercase;
  font-size: 3.2vh;
  font-weight: 800;
 }

.come-in {
  transform: translateX(-150px);
  animation: come-in 0.5s cubic-bezier(0,-0.01,0,.99) forwards;
}
.come-in:nth-child(odd) {
  animation-delay: .1s;
  animation-duration: .75s;
}
.leave {
  transform: translateX(150px);
  animation: leave 0.5s cubic-bezier(0,-0.01,0,.99) forwards;
}
.leave:nth-child(odd) {
  animation-delay: .1s;
  animation-duration: .75s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
  opacity: 1;
}